.workflow-item {
    fill: blue;
}

.intermediate-item {
    fill: black;
}

.connector {
    stroke: black;
    fill: none;
}

.workflow-item.selected {
    stroke: red;
    strile-width: 3px;
}

.workflow-item-text {
    fill: yellow;
    font-family: sans-serif;
    font-size: 10px;
}

.workflow-item-text-hidden {
    display: none;
}